//-----------------------ПЕРЕМЕННЫЕ--------------------------------
$maxWidth: 1400px;
$maxWidthContainer: 1140px;
//------------------------------------------------------------------
@import "normalize.scss";
@import "fonts.scss";
//------------------ОБШИЕ ПАРАМЕТРЫ--------------------------------
body {
   font-family: Roboto;
}

//-----------------------------ОБОЛОЧКА ----------------------------------
.wrapper {
   max-width: $maxWidth;
   margin: 0 auto;
}
.container {
   max-width: $maxWidthContainer;
   margin: 0 auto;
}
//------------------------------------------------------------------
// @import "header.scss";

//----------------------------------------------------------------
